$primary: #3F5D45;
$primary-light: #EAF0ED; 
$primary-middle: #8DA291;
$secondary: #FFE180;
$margin-l: 60px;
$margin-m: 30px;
$margin-s: 20px;
$font-s: 16px;
$font-m: 20px;
$font-l: 24px;
$font-xl: 36px;
$semibold: 600;
$light: 300;
$line-s: 24px;
$line-m: 28px;
$line-l: 33px;
$line-xl: 50px;
$padding-btn: 16px;